@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --blue:#00fff2;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}
*::selection{
    background:var(--blue);
    color:#fff;
}
  
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
.heading{
    text-align: center;
    padding:2.5rem 0
}
  
.heading span{
    font-size: 3.5rem;
    background:rgba(0, 0, 0, 0.747);
    color:var(--blue);
    border-radius: .5rem;
    padding:.2rem 1rem;
}
  
.heading span.space{
    background:none;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--blue);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
}
section{
    padding:2rem 9%;
}
header{
    position: fixed;
    top:0; left: 0; right:0;
    background:rgb(0, 0, 0);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    height: 100px;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
}
  
header .logo span{
    color:var(--blue);
}
header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin:0 .8rem;
}
  
header .navbar a:hover{
    color:var(--blue);
}
  
header .icons i{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right: 2rem;
}
  
header .icons i:hover{
    color:var(--blue);
}
.book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
  
.book .row .image{
    flex:1 1 35rem;
}
  
.book .row .image img{
    width:100%;
}
  
.book .row form{
    flex:1 1 50rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}
  
.book .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.book .row form .inputBox input, .book .row form select{
    width:49%;
    margin:1rem 0;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    background:#f7f7f7;
    text-transform: none;
}
  
.book .row form textarea{
    height: 15rem;
    resize: none;
    width:100%;
}
.brand-container{
    text-align: center;
}
  
.footer{
    background:rgb(0, 0, 0);
}
  
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
  
.footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
}
  
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:#fff;
}
  
.footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
}
  
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
}
  
.footer .box-container .box a:hover{
    color:var(--blue);
    text-decoration: underline;
}
  
.footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
}
  
.footer .credit span{
    color:var(--blue);
}
  

@media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
}
  
@media (max-width:991px){
  
header{
    padding:2rem;
}
  
section{
    padding:2rem;
    }
  
}